:root, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#__next {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#main {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: var(--backgound-color);
}

#main > div {
    display: flex;
    flex-direction: column;
    flex: inherit;
}

html[data-color-mode="light"][data-theme~="light:light"],
html[data-color-mode="dark"][data-theme~="dark:light"] {
    --ds-border-input: #b7bfcb !important;
    --backgound-color: #fafbfc
}

html[data-color-mode="light"][data-theme~="light:dark"],
html[data-color-mode="dark"][data-theme~="dark:dark"] {
    --ds-border-input: #55616e !important;
    --backgound-color: transparent
}

.font {
    font-family: "Charlie Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
}

.font-bold {
    font-family: "Charlie Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
}

.hidden {
    display: none !important;
}

.container-grid > div > div {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#table-container__card-meter > div > table {
    border-block-end: unset !important;
}

#image-container {
    display: inline-block;
    overflow: hidden;
}

#image-container #image__card-meter {
    display: block;
    transition: transform .2s;
}

#container__card-meter:hover #image__card-meter {
    transition: transform .2s;
    transform: scale(1.2);
}

#image-container #image__card-area {
    display: block;
    transition: transform .2s;
}

/*#container__card-area:hover #image__card-area {*/
/*    transition: transform .2s;*/
/*    transform: scale(1.2);*/
/*}*/

.cursor-pointer {
    cursor: pointer;
}

.block {
    background: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.droppable-element {
    height: 50px;
    width: 250px;
    background: skyblue;
    margin: 10px;
    border: 2px dashed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-grid-layout {
    margin: -10px;
}

.variable-meter-select {
    min-width: 170px;
}

/*text input */
#container_start_date_time > div > div > div > div > div > div, #container_end_date_time > div > div > div > div > div > div {
    min-height: 36px !important;
}

#box_date_time_compact > div > div > div > div > div > div {
    min-height: 30px !important;
}

#mobile-header > header > div {
    background-color: #F4F5F7 !important;
    border-bottom: 1px solid #e7e7e7 !important;
}

#mobile-header-dark > header > div {
    background-color: #292f35 !important;
    border-bottom: 1px solid #1b2023 !important;
}

#mobile-header-dark > header > div {
    background-color: #172B4D;
    border-bottom: 1px solid #10203a;
}

.text-overflow-clip {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

div[class*="-ActionsWrapper"] {
    max-width: 92% !important;
}

#left-sidebar-mobile > div[class*="-"] {
    width: unset !important;
}

#company_img {
    background: url("https://source.unsplash.com/random/?energy");
}

[data-testid="side-navigation"] > div > div > div > div {
    padding-bottom: 200px;
}

[data-testid="side-navigation-app"] > div > div > div > div > div {
    padding-bottom: 200px;
}

#image__card-video {
    max-width: 100%;
    overflow: hidden;
    display: block;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

#image__card-video > video {
    border-radius: inherit;
    display: block;
}

#image__card-thumbnail {
    overflow: hidden;
    display: block;
    height: 100px;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

#image__card-thumbnail > video {
    border-radius: inherit;
    display: block;
}

#tag-playing-dark > span {
    color: whitesmoke;
}

#tag-live-streaming > span {
    color: whitesmoke;
    padding-right: 4px;
    padding-bottom: 1px;
}

#nav-links > li {
    display: inline-flex;
    margin-block-start: 0;
}

#sidebar-loading {
    margin-top: -60px;
}

/*[data-testid="card-offset"] {*/
/*    margin-left: -18px !important;*/
/*}*/
/*[data-testid="card-message-offset"] {*/
/*    margin-left: -18px !important;*/
/*    margin-bottom: 20px !important;*/
/*}*/


/*landingpage*/
#landingpage-navigation > header {
    border-block-end: unset !important;
    height: 63px !important;
}

#landing-body {
    font-family: "Charlie Text", -apple-system, "BlinkMacSystemFont", "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
}

.gradient-bottom {
    height: 400px;
    margin-top: -350px;
    background-image: linear-gradient(180deg, rgba(228, 245, 240, 0) 70.19%, rgba(179, 245, 255, 0.28) 102.77%);
    background-repeat: no-repeat;
}

.terminal {
    background-size: contain;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

#terminal-container {
    display: inline-block;
    overflow: hidden;
}

#terminal-container #image__card-terminal {
    display: block;
    transition: transform .2s;
}

#head {
    font-family: monospace;
    color: #fff;
    margin: auto;
    padding: 35px;
    font-size: 40px;
    text-align: center;
}

#bar {
    width: 100%;
    height: 25px;
    background-color: #DAD9D9;
    margin: 0 auto;
    font-family: monospace;
    padding: inherit;
    float: none;
    padding-inline-start: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: left;
}

#bar-night {
    width: 100%;
    height: 25px;
    background-color: #282a36;
    margin: 0 auto;
    font-family: monospace;
    padding: inherit;
    float: none;
    padding-inline-start: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: left;
}

#red {
    background-color: #E94B35;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    left: -210px;
    bottom: -20%;
    position: relative;
}

#yellow {
    background-color: #f0f000;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    left: -190px;
    bottom: 40%;
    position: relative;
    display: block;
}

#green {
    background-color: #1AAF5C;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    left: -170px;
    bottom: 99%;
    position: relative;
    display: block;
}

#screen {
    background-color: #33485E;
    width: 750px;
    height: 450px;
    border-radius: 2%;
    margin: 0 auto;
    padding: 1px;
}

/*#container__card-terminal #image__card-terminal {*/
/*    transform: scale(1.1) translateY(-10px) translateX(-1px);*/
/*}*/

.cm-editor {
    border-radius: 3px;
}

.json-editor-light > .cm-editor {
    background-color: #FAFBFC !important;
}

.json-editor-light {
    border-color: #b6bfcb !important;
    border-width: 1px !important;
    border-radius: 3px !important;
    border-style: solid !important;
}

.json-editor-light > .cm-focused {
    border-color: #1D7AFC !important;
    border-width: 1px !important;
    border-radius: 3px !important;
    border-style: solid !important;
    outline: 1px #1D7AFC solid !important;
}

.json-editor-night > div.cm-editor {
    background-color: #22272b !important;
}

.json-editor-night {
    background-color: #FAFBFC !important;
    border-color: #55616e !important;
    border-width: 1px !important;
    border-radius: 3px !important;
    border-style: solid !important;
}

.json-editor-night > .cm-focused {
    border-color: #85B8FF !important;
    border-width: 1px !important;
    border-radius: 3px !important;
    border-style: solid !important;
    outline: 1px #85B8FF solid !important;
}

.charlie-text {
    font-family: "Charlie Text", -apple-system, "BlinkMacSystemFont", "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
}

.json-editor-night > div > div .cm-activeLine {
    background-color: #e8e8e805 !important;
}

.json-editor-light > div > div .cm-activeLine {
    background-color: #e8e8e844 !important;
}

.json-editor-night > div > div > div > div > .cm-activeLineGutter {
    background-color: #353d44 !important;
}

.json-editor-light > div > div > div > div > .cm-activeLineGutter {
    background-color: #ebf0f4 !important;
}

/*.sidebar-item {*/
/*    padding-left: 15px !important;*/
/*}*/
[data-testid="sidebar-item"] > span > span {
    width: 2.9rem !important;
    justify-content: end !important;
}

#empty-state-height {
    min-height: 50vh !important;
}