
/*landingpage*/

@font-face {
    font-family: "Charlie Display";
    src: url("../../public/assets/fonts/Charlie_Display-Thin.woff2") format("woff2"),url("../../public/assets/fonts/Charlie_Display-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Charlie Display";
    src: url("../../public/assets/fonts/Charlie_Display-Thin_Italic.woff2") format("woff2"),url("../../public/assets/fonts/Charlie_Display-Thin_Italic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Charlie Display";
    src: url("../../public/assets/fonts/Charlie_Display-Light.woff2") format("woff2"),url("../../public/assets/fonts/Charlie_Display-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Charlie Display";
    src: url("../../public/assets/fonts/Charlie_Display-Light_Italic.woff2") format("woff2"),url("../../public/assets/fonts/Charlie_Display-Light_Italic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Charlie Display";
    src: url("../../public/assets/fonts/Charlie_Display-Regular.woff2") format("woff2"),url("../../public/assets/fonts/Charlie_Display-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Charlie Display";
    src: url("../../public/assets/fonts/Charlie_Display-Regular_Italic.woff2") format("woff2"),url("../../public/assets/fonts/Charlie_Display-Regular_Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Charlie Display";
    src: url("../../public/assets/fonts/Charlie_Display-Semibold.woff2") format("woff2"),url("../../public/assets/fonts/Charlie_Display-Semibold.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Charlie Display";
    src: url("../../public/assets/fonts/Charlie_Display-Semibold_Italic.woff2") format("woff2"),url("../../public/assets/fonts/Charlie_Display-Semibold_Italic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Charlie Display";
    src: url("../../public/assets/fonts/Charlie_Display-Bold.woff2") format("woff2"),url("../../public/assets/fonts/Charlie_Display-Bold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Charlie Display";
    src: url("../../public/assets/fonts/Charlie_Display-Bold_Italic.woff2") format("woff2"),url("../../public/assets/fonts/Charlie_Display-Bold_Italic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Charlie Display";
    src: url("../../public/assets/fonts/Charlie_Display-Black.woff2") format("woff2"),url("../../public/assets/fonts/Charlie_Display-Black.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Charlie Display";
    src: url("../../public/assets/fonts/Charlie_Display-Black_Italic.woff2") format("woff2"),url("../../public/assets/fonts/Charlie_Display-Black_Italic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Charlie Display";
    src: url("../../public/assets/fonts/Charlie_Display-Ultra.woff2") format("woff2"),url("../../public/assets/fonts/Charlie_Display-Ultra.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Charlie Display";
    src: url("../../public/assets/fonts/Charlie_Display-Ultra_Italic.woff2") format("woff2"),url("../../public/assets/fonts/Charlie_Display-Ultra_Italic.woff") format("woff");
    font-weight: 800;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Charlie Text";
    src: url("../../public/assets/fonts/Charlie_Text-Thin.woff2") format("woff2"),url("../../public/assets/fonts/Charlie_Text-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Charlie Text";
    src: url("../../public/assets/fonts/Charlie_Text-Thin_Italic.woff2") format("woff2"),url("../../public/assets/fonts/Charlie_Text-Thin_Italic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Charlie Text";
    src: url("../../public/assets/fonts/Charlie_Text-Light.woff2") format("woff2"),url("../../public/assets/fonts/Charlie_Text-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Charlie Text";
    src: url("../../public/assets/fonts/Charlie_Text-Light_Italic.woff2") format("woff2"),url("../../public/assets/fonts/Charlie_Text-Light_Italic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Charlie Text";
    src: url("../../public/assets/fonts/Charlie_Text-Regular.woff2") format("woff2"),url("../../public/assets/fonts/Charlie_Text-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Charlie Text";
    src: url("../../public/assets/fonts/Charlie_Text-Regular_Italic.woff2") format("woff2"),url("../../public/assets/fonts/Charlie_Text-Regular_Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Charlie Text";
    src: url("../../public/assets/fonts/Charlie_Text-Semibold.woff2") format("woff2"),url("../../public/assets/fonts/Charlie_Text-Semibold.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Charlie Text";
    src: url("../../public/assets/fonts/Charlie_Text-Semibold_Italic.woff2") format("woff2"),url("../../public/assets/fonts/Charlie_Text-Semibold_Italic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Charlie Text";
    src: url("../../public/assets/fonts/Charlie_Text-Bold.woff2") format("woff2"),url("../../public/assets/fonts/Charlie_Text-Bold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Charlie Text";
    src: url("../../public/assets/fonts/Charlie_Text-Bold_Italic.woff2") format("woff2"),url("../../public/assets/fonts/Charlie_Text-Bold_Italic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Charlie Text";
    src: url("../../public/assets/fonts/Charlie_Text-Black.woff2") format("woff2"),url("../../public/assets/fonts/Charlie_Text-Black.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Charlie Text";
    src: url("../../public/assets/fonts/Charlie_Text-Black_Italic.woff2") format("woff2"),url("../../public/assets/fonts/Charlie_Text-Black_Italic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Charlie Text";
    src: url("../../public/assets/fonts/Charlie_Text-Ultra.woff2") format("woff2"),url("../../public/assets/fonts/Charlie_Text-Ultra.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Charlie Text";
    src: url("../../public/assets/fonts/Charlie_Text-Ultra_Italic.woff2") format("woff2"),url("../../public/assets/fonts/Charlie_Text-Ultra_Italic.woff") format("woff");
    font-weight: 800;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Circular";
    src: url("../../public/assets/fonts/lineto-circular-book-c.eot");
    src: url("../../public/assets/fonts/lineto-circular-book-c.eot#iefix") format("embedded-opentype"),url("../../public/assets/fonts/lineto-circular-book-c.woff") format("woff"),url("../../public/assets/fonts/lineto-circular-book-c.ttf") format("truetype"),url("../../public/assets/images/lineto-circular-book-c.svg#Circular-Book") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Circular";
    src: url("../../public/assets/fonts/lineto-circular-medium-c.eot");
    src: url("../../public/assets/fonts/lineto-circular-medium-c.eot#iefix") format("embedded-opentype"),url("../../public/assets/fonts/lineto-circular-medium-c.woff") format("woff"),url("../../public/assets/fonts/lineto-circular-medium-c.ttf") format("truetype"),url("../../public/assets/images/lineto-circular-medium-c.svg#Circular-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Circular";
    src: url("../../public/assets/fonts/lineto-circular-bold-c.eot");
    src: url("../../public/assets/fonts/lineto-circular-bold-c.eot#iefix") format("embedded-opentype"),url("../../public/assets/fonts/lineto-circular-bold-c.woff") format("woff"),url("../../public/assets/fonts/lineto-circular-bold-c.ttf") format("truetype"),url("../../public/assets/images/lineto-circular-bold-c.svg#Circular-Bold") format("svg");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Circular";
    src: url("../../public/assets/fonts/lineto-circular-black-c.eot");
    src: url("../../public/assets/fonts/lineto-circular-black-c.eot#iefix") format("embedded-opentype"),url("../../public/assets/fonts/lineto-circular-black-c.woff") format("woff"),url("../../public/assets/fonts/lineto-circular-black-c.ttf") format("truetype"),url("../../public/assets/images/lineto-circular-black-c.svg#Circular-Black") format("svg");
    font-weight: 800;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Circular";
    src: url("../../public/assets/fonts/lineto-circular-bookitalic-c.eot");
    src: url("../../public/assets/fonts/lineto-circular-bookitalic-c.eot#iefix") format("embedded-opentype"),url("../../public/assets/fonts/lineto-circular-bookitalic-c.woff") format("woff"),url("../../public/assets/fonts/lineto-circular-bookitalic-c.ttf") format("truetype"),url("../../public/assets/images/lineto-circular-bookitalic-c.svg#Circular-Bookitalic") format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Circular";
    src: url("../../public/assets/fonts/lineto-circular-mediumitalic-c.eot");
    src: url("../../public/assets/fonts/lineto-circular-mediumitalic-c.eot#iefix") format("embedded-opentype"),url("../../public/assets/fonts/lineto-circular-mediumitalic-c.woff") format("woff"),url("../../public/assets/fonts/lineto-circular-mediumitalic-c.ttf") format("truetype"),url("../../public/assets/images/lineto-circular-mediumitalic-c.svg#Circular-Mediumitalic") format("svg");
    font-weight: 500;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Circular";
    src: url("../../public/assets/fonts/lineto-circular-bolditalic-c.eot");
    src: url("../../public/assets/fonts/lineto-circular-bolditalic-c.eot#iefix") format("embedded-opentype"),url("../../public/assets/fonts/lineto-circular-bolditalic-c.woff") format("woff"),url("../../public/assets/fonts/lineto-circular-bolditalic-c.ttf") format("truetype"),url("../../public/assets/images/lineto-circular-bolditalic-c.svg#Circular-Bolditalic") format("svg");
    font-weight: 600;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Circular";
    src: url("../../public/assets/fonts/lineto-circular-blackitalic-c.eot");
    src: url("../../public/assets/fonts/lineto-circular-blackitalic-c.eot#iefix") format("embedded-opentype"),url("../../public/assets/fonts/lineto-circular-blackitalic-c.woff") format("woff"),url("../../public/assets/fonts/lineto-circular-blackitalic-c.ttf") format("truetype"),url("../../public/assets/images/lineto-circular-blackitalic-c.svg#Circular-Blackitalic") format("svg");
    font-weight: 800;
    font-style: italic;
    font-display: swap
}

.heading {
    font-family: "Charlie Text", -apple-system, "BlinkMacSystemFont", "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif !important;
    letter-spacing: -0.008em;
}

/*#landing-body {*/
/*    font-family: "Charlie Text", -apple-system, "BlinkMacSystemFont", "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;*/
/*}*/

.landing-navigation {
    font-family: 'Rubik' , sans-serif;
    font-weight: bold;
}